*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: #233329;
  --orange: #f9ae67;
  --red: #d63230;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--green);
  color: whitesmoke;
  font-size: 16px;
  font-family: "Roboto Serif", serif;
}

#container {
  padding: 3rem;
  width: auto;
  /* font-size: 2rem; */
}
#logo-title {
  display: flex;
  justify-content: center;
}

img {
  width: 50px;
  height: 60px;
  transform: rotate(-14.21deg);
  position: relative;
  top: -4px;
}

h2 {
  text-align: center;
  font-size: 3.2rem;
  font-family: "Miltonian Tattoo", serif;
  padding-left: 1.2rem;
}

#break-session-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

#break-buttons,
#session-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#break-session-container button {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

#break-session-container span {
  font-size: 2rem;
}

#break-container {
  padding-right: 3rem;
}

#break-buttons,
#session-buttons {
  padding-top: 0.5rem;
}

#break-length,
#session-length {
  color: var(--orange);
  padding-inline: 0.5rem;
  font-weight: 500;
}

button {
  background-color: hsla(0.68, 72.6%, 51.4%, 1);
  color: var(--orange);
  border: none;
}
button:hover {
  background-color: hsla(0.68, 72.6%, 55.4%, 1);
}
button:active {
  background-color: hsla(0.68, 72.6%, 50.4%, 1);
}

#timer-label {
  font-size: 2.8rem;
  font-weight: 500;
}

#time-left {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--orange);
  padding-bottom: 1rem;
}

#timer-container button {
  font-size: 1.3rem;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 500;
}

#start_stop {
  margin-right: 0.8rem;
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 2rem;
    padding-left: 10px;
    white-space: nowrap;
  }

  img {
    width: 40px;
    height: 50px;
    top: -8px;
  }

  #break-session-container span,
  #break-session-container button {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  #timer-container span {
    font-size: 1.8rem;
  }

  #timer-container button {
    font-size: 1rem;
  }
}
